/* Configurações gerais da pagina */
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body,
html {
    height: 100%;
}

/* Configurações do header da página */
div.header {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
    color: white;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.header h1 {
    font-size: 2.5em;
}

div.header h2 {
    font-weight: 300;
}

div.header a {
    margin-top: 1em;
    text-decoration: none;
    color: white;
}

/* Css da listagem */

ul {
    list-style-type: none;
}

li {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
    padding: 1.5em;
    margin: 1em;
    border-radius: 1.5em;
    color: white;
    display: flex;
    box-shadow: 0 0 0.5em black;
    transition: 1s;
}


li:hover {
    background: #c31432;
    background: -webkit-linear-gradient(to left, #240b36, #c31432);
    background: linear-gradient(to left, #240b36, #c31432);
}

p.text {
    width: 100%;
}

p.passageiros a {
    margin-right: 1em;
    text-decoration: none;
    color: white;
}

p.delete a {
    text-decoration: none;
    color: white;
}

p.crew a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
}

/* Css para list do TravelCrew */

h1.addCrew {
    font-weight: 300;
    text-align: center;
    margin-top: 2em;
}

form {
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    text-align: center;
    justify-content: center;
}

form select {
    padding: 0em 1em;
    font-size: 1.5em;
    font-weight: 300;
}

form option {
    font-weight: 300;
    font-size: 0.8em;
}

form button {
    margin: 0em 1em;
    padding: 0em 1em;
    background-color: transparent;
    border: 2px solid rgb(117, 117, 117);
    color: rgb(117, 117, 117);
}

form button:hover {
    transition: 0.5s;
    color: white;
    background-color: rgb(117, 117, 117);
}